<!-- wp:template-part {"slug":"header","theme":"ravera6a","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xl","margin":{"bottom":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide" style="margin-bottom:var(--wp--preset--spacing--xl)"><!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ravera6a","area":"uncategorized"} /-->