<!-- wp:template-part {"slug":"header","theme":"ravera6a","area":"uncategorized"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|m","padding":{"top":"var:preset|spacing|m","bottom":"var:preset|spacing|m"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--m);padding-bottom:var(--wp--preset--spacing--m)"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content {"tagName":"main"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ravera6a","area":"uncategorized"} /-->